#minebox {
  width: 100%;
}

#minebox .touxiang {
  height: 2.826667rem;
  width: 100%;
}

#minebox .zhanghu {
  height: 1.333333rem;
  width: 100%;
  background: #ffffff;
  padding: 0 .32rem;
  box-sizing: border-box;
}

#minebox .bb {
  width: 100%;
  height: 11.453333rem;
  background: #f6f6f6;
}

#minebox .bb .goumai {
  height: 2.826667rem;
  width: 100%;
}

#minebox .bb .fankui {
  height: 2.826667rem;
  width: 100%;
}
