#login_box {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
}

#login_box header {
  width: 100%;
  height: 3.933333rem;
}

#login_box header .headertop {
  padding: .266667rem .48rem;
  box-sizing: border-box;
  height: 1.066667rem;
}

#login_box header .headertop svg {
  width: .48rem;
  height: .52rem;
  color: #ffffff;
}

#login_box header .headertop span {
  float: right;
  color: #ffffff;
}

#login_box main {
  width: 100%;
  height: 4.906667rem;
  padding: .213333rem 0;
  box-sizing: border-box;
}

#login_box main .ant-input-affix-wrapper {
  box-sizing: border-box;
  margin: .32rem 1.066667rem;
  border-radius: .10667rem;
  overflow: hidden;
  width: 7.866667rem;
  height: 1.066667rem;
  display: block;
}

#login_box main .ant-input-affix-wrapper .ant-input-prefix {
  height: 1.066667rem;
}

#login_box main button {
  display: block;
  width: 7.86667rem;
  height: 1.17333rem;
  margin: .53333rem auto 0;
  font-size: .48rem;
  text-align: center;
  line-height: .48rem;
  color: #fff;
  background: #ff7830;
  border: 0;
  border-radius: .58667rem;
}

#login_box .div2reg {
  width: 100%;
  height: .586667rem;
}

#login_box .div2reg span {
  display: block;
  margin: 4px auto;
  color: #000;
  width: 1.866667rem;
  height: .493333rem;
  font-size: .373333rem;
}

#login_box .div2reg span svg {
  color: #f00;
  font-size: .373333rem;
}

#login_box footer {
  width: 100%;
  height: 2.04rem;
  margin: 2rem 0 0;
  padding: 0 2.36rem;
}

#login_box footer p {
  text-align: center;
  width: 2.666667rem;
  height: .493333rem;
  line-height: .493333rem;
  font-size: .32rem;
  color: #b4b4b4;
  margin: auto;
}

#login_box footer button {
  float: left;
  width: 1.01333rem;
  height: 1.01333rem;
  margin: .32rem .77333rem;
  line-height: 1.01333rem;
  text-align: center;
  font-size: .48rem;
  border-radius: 50%;
  border: 1px solid #ff7830;
  color: #ff7830;
}
